/* CSS Document */

body {
    background-color:black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none;
}

footer {
    padding-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
    
}

header {
    border-bottom: 2px solid white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

#welcomeCanvas {
    display: block;
    width: 100%;
    height: 300px;
    background-color: black;
}

/* Specific Styles (Classes) */

.home {
    padding-bottom: 2000px;
}

.neon-text {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 400% 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation: rainbow 20s linear infinite;
    text-align: center;
}

@keyframes rainbow {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 400% 0%;
    }
}


/* Navigation bar styles */

nav ul {
    list-style: none;
    overflow: hidden;
}
nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav li a.active {
    border: 0.5px solid white;
}

nav li a:hover:not(.active) {
    border-bottom: 2px solid white;
}